<body>
  <div class="app-container">

    <!-- HEADER -->
    <header class="header">

      <h1><i class="bi bi-cloud-sun"></i> Application Météo</h1>


      <div class="datetime">
        <p>{{ currentDateTime | date:'fullDate':'':'fr-FR' }}</p>
        <span>{{ currentDateTime | date:'HH:mm:ss':'':'fr-FR' }}</span>
      </div>


      <div class="search-box">

        <input type="text" [(ngModel)]="city" placeholder="Entrez une ville..." (keyup.enter)="onSearch()" />

        <button (click)="onSearch()">
          Rechercher
        </button>

      </div>

      @if(errorMessage) {
        <div class="error">
          <i class="bi bi-exclamation-triangle"></i> {{ errorMessage }}
        </div>
      }

    </header>

    <!-- liste -->
    @if (weatherList.length > 0) {
    <div class="weather-list">

      @for (weather of weatherList; track $index; let i = $index) {
      <div class="weather-card">

        <div class="city-header">
          <h2>{{ weather.name }}</h2>
          <p class="temp">{{ weather.main.temp }}°C</p>
          <p class="desc">{{ weather.weather[0].description }}</p>
        </div>

        <table class="weather-table">
          <thead>
            <tr>
              <th>Humidité</th>
              <th>Vent</th>
              <th>Pression</th>
              <th>Visibilité</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ weather.main.humidity }} %</td>
              <td>{{ weather.wind.speed }} m/s</td>
              <td>{{ weather.main.pressure }} hPa</td>
              <td>{{ weather.visibility }} m</td>
              <td>
                <button class="delete-btn" (click)="removeCity(i)">
                  Supprimer
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      }

    </div>
    }


    <!-- vide -->
    @if (weatherList.length === 0) {
    <div class="empty">
      Aucune ville recherchée
    </div>
    }

  </div>

</body>