<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="app-container">

    <!-- HEADER -->
    <header class="header">

      <h1>🌤️ Application Météo</h1>

      
      <div class="datetime">
        <p>{{ currentDateTime | date:'fullDate':'':'fr-FR' }}</p>
        <span>{{ currentDateTime | date:'HH:mm:ss':'':'fr-FR' }}</span>
      </div>

      
      <div class="search-box">

        <input type="text" [(ngModel)]="city" placeholder="Entrez une ville..." (keyup.enter)="onSearch()" />

        <button (click)="onSearch()">
          Rechercher
        </button>

      </div>

      
      <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

    </header>

    <!-- LISTE -->
    <div class="weather-list" *ngIf="weatherList.length > 0">

      <div class="weather-card" *ngFor="let weather of weatherList; let i = index">

        <div class="city-header">
          <h2>{{ weather.name }}</h2>
          <p class="temp">{{ weather.main.temp }}°C</p>
          <p class="desc">{{ weather.weather[0].description }}</p>
        </div>

        <table class="weather-table">

          <thead>
            <tr>
              <th><i class="bi bi-droplet"></i> Humidité</th>
              <th><i class="bi bi-wind"></i> Vent</th>
              <th><i class="bi bi-graph-up"></i> Pression</th>
              <th><i class="bi bi-eye"></i> Visibilité</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ weather.main.humidity }} %</td>
              <td>{{ weather.wind.speed }} m/s</td>
              <td>{{ weather.main.pressure }} hPa</td>
              <td>{{ weather.visibility }} m</td>

              <td>
                <button class="delete-btn" (click)="removeCity(i)">
                  Supprimer
                </button>
              </td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>

    <!-- EMPTY -->
    <div class="empty" *ngIf="weatherList.length === 0">
      Aucune ville recherchée
    </div>

  </div>

</body>

</html>